# Use our custom-configured c++ toolchain.

build:armhf_config --crosstool_top=//toolchain:armhf_suite

# Use --cpu as a differentiator.

build:armhf_config --cpu=armhf

# Use the default Bazel C++ toolchain to build the tools used during the
# build.

build:armhf_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain